node_modules/
dist/
build/
.vite/

.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.out.log
*.err.log
.chrome-debug*/

.DS_Store
Thumbs.db

# MaxMind GeoIP
GeoIP.conf
*.mmdb
mobile/android/.gradle/
mobile/android/.idea/
mobile/android/app/build/
mobile/android/build/
mobile/android/local.properties
